{% extends 'base.html' %} {% block content %}
<style>
  .progress-bar {
    width: 300px;
    height: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
  }

  .progress {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.5s ease-in-out;
  }
</style>
<div>
  <h1 class="text-center text-xl uppercase my-10">identify Individual</h1>

  <div
    id="msg"
    class="text-center py-2 text-md w-2/3 mx-auto auto block bg-red-500 text-white my-10"
  ></div>

  <div class="grid grid-cols-2 gap-10">
    <div>
      <form
        action="/predict"
        class="grid grid-cols-1 gap-10"
        method="post"
        enctype="multipart/form-data"
      >
        <!-- {% if input %}
        <img src="/static/groupimg.jpeg" alt="" />
        {% endif %} -->
        <img src="" id="input" alt="" />
        <div class="progress-bar" hidden>
          <div class="progress"></div>
        </div>
        <input type="file" name="groupimg" id="groupimg" />
        <div>
          <button
            class="px-10 mx-auto block py-2 bg-blue-500 text-white rounded"
          >
            Identify
          </button>
        </div>
      </form>
    </div>
    <div>
      <img src="" id="output" alt="" />
    </div>
  </div>
</div>
{% endblock%}
